---
title: Home
layout: plain

page-class: "home"
image: /assets/headers/website.jpg

description: Wally is a digital wallet for iPhone and iPad. Add your cards, receipts, etc. to Wally to keep them safe and available at all times.
---

<section class="hero">
  <img src="/assets/icon/icon.png" class="glass icon" />
  <h1>Wally - Digital Wallet</h1>
  <p>{{ page.description }}</p>
  <div>
    <a href="#content" class="cta secondary">Learn More</a>
    <a href="{{site.urls.appstore}}" class="cta">Download</a>
  </div>
</section>

<a name="content"></a>

<a name="devices"></a>
<section class="showcase">
  {% include home-devices %}
</section>

<a name="news"></a>
<section class="showcase">
  {% include home-news %}
</section>

<a name="social"></a>
<section class="showcase">
  {% include home-social %}
</section>

<a name="download"></a>
<section class="showcase">
  {% include home-download %}
</section>

<a name="about"></a>
<section class="showcase">
  {% include home-about %}
</section>