---
id: home
layout: default
title: Home

hero-image: /assets/devices.png
hero-title: Wally
hero-tagline: Your Personal Digital Wallet

cta:
  title: Download
  url: https://itunes.apple.com/app/wally/id516398915

description: Wally is a digital wallet for iPhone and iPad. Add things to Wally to keep them safe and available at all times.
---

<div class="home-content paper">
  <p>
    Wally is a digital wallet for your things, like bank, loyalty & ID cards, passports & travel documents, event tickets, business cards, notes, receipts, photos, etc.
  </p>
  <p>
    Wally protects your cards with biometric authentication, and can generate QR codes and barcodes for your cards, call and email your business contacts, etc.
  </p>
  <p>
    Download Wally from the App Store today.
  </p>

  {% include kankoda/buttons/app-store %}

  <section>
    <h2>Latest news</h2>
    <div>
      <a href="/blog">Blog</a> ·
      <a href="{{ site.urls.bluesky }}">Bluesky</a> ·
      <a href="{{ site.urls.mastodon }}">Mastodon</a>
    </div>
    <div class="grid home blog list">
      {% for post in site.posts limit:2 %}
      <div>
        {% include kankoda/blog/image-item post=posts.first tag-limit=1 %}
      </div>
      {% endfor %}
    </div>
  </section>
</div>