$texture: url('/assets/bg/leather.jpg');
$texture-size: 350px;

$site-background: $texture;
$content-background: #0006;
$footer-background: #000a;

$foreground: #fff;
$foreground-secondary: #aaa;
$shadow: black;

$link: #eee;
$link-hover: #fff;

$tag-hover: #223;
$tag-border: solid 1px #fff5;