.icon-badge {
  --badge-icon-size: 2.25rem;
  --badge-padding: 0.5rem;

  display: grid;
  place-items: center;
  width: calc(var(--badge-icon-size) + (var(--badge-padding) * 2));
  height: calc(var(--badge-icon-size) + (var(--badge-padding) * 2));
  margin-inline: auto;
  border-radius: 50% !important;
  background: #fff;
  color: #111;
  line-height: 0;
  overflow: hidden;
  font-size: 1.8em;
  padding: 0.1em !important;
}

p + .icon-group {
  height: 40px;
  margin-top: 0.75rem;
}

.icon-group {
  display: inline-flex;
  align-items: center;
  gap: 1.75rem;
  font-size: 2.2em;
}
